body{
  // set to remove horizontal scroll 
  overflow-x: hidden;
}

.login_component {
  background: url(../assets/background-pages.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  white-space: nowrap; /* Mencegah wrap konten ke baris baru */
  overflow: hidden; 

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5); // Putih dengan tingkat kejernihan 50%
    filter: blur(5px); // Efek blur 5px
    z-index: 1;
  }

}

.wrapper_landing_login{
  position: absolute;
  margin-left: 241px;
  margin-top: 196px;
  z-index: 2;
    margin: 0 auto; /* Agar container berada di tengah layar */
    width: 100%; /* Lebar container mengikuti layar */
}

.column_login {
  float: left;
    display: flex;
  flex-direction: column; 
  justify-content: left; 
  align-items: left;
  width: 25%;
}

.row_login {
  display: flex;
  align-items: left;
  justify-content: space-around;
  width: 100%;
  margin-top: 7rem;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  }


// .row_login:after {
//   content: "";
//   display: table;
//   clear: both;
  
// }

.telu_logo {
  width: 157px;
  height: 52px;
}

.owl_logo {
  width: 300px;
  height: 300px;
  object-fit: cover; 
  position: absolute;
  margin-top: 50px;   
  display: block; /* Menghilangkan whitespace di sekitar gambar */
  max-width: 100%; /* Memastikan gambar tidak melebihi lebar container */
  height: auto;
  /* Sesuaikan objek-fit sesuai kebutuhan */

}

.text_wrapper_login_proctoring {
 
}

.text_wrapper_login_proctoring .text_header_one {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: white;
    margin-bottom: 0px;
    margin-top: 22rem;
    
}

.text_wrapper_login_proctoring .text_header_two {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: white;
    margin-bottom: 0px;
    margin-top: 34px;
}


.login_form_wrapper{
    /* Rectangle 10 */
  position: absolute;
  width: 500px;
  height: 650px;
  border-radius: 15.5px;
  filter: drop-shadow(6px 6px 15px rgba(0,0,0,0.48 ));
  background: #fdfdfd
}

.item_one{
  justify-content: left;
}

.login_form{
  padding: 4rem;
}







.login_form {
  display: flex;
  flex-direction: column;

  .login_form_header {
    font-size: 24px;
    font-weight: bold;
  }

  .login_form_text {
    margin-top: 16px;
    color: #555;
  }

  .login_form_input {
    margin-top: 60px;
    // column
    display: flex;
    flex-direction: column;
    width: 340px;

    input {
      border: none;
      border-bottom: 1px solid #ccc; // Add a bottom border instead of a box
      outline: none;
      width: 100%;
      padding: 15px;
      margin-bottom: 10px;

      &::placeholder {
        color: #aaa;
      }

      &:focus {
        border-bottom: 2px solid #4CAF50; // Highlight bottom border on focus
      }

      &.error {
        border-bottom: 2px solid #FF0000; // Red border for error
      }
    }

    a{
      text-decoration: none;
      color: red;
      font-size: 14px;
      text-align: center;

     
    }

    
  }

  .login_form_button {
    margin-top: 20px;
    // column
    display: flex;
    flex-direction: column;

    p{
      text-align: center;
    }

    .login_form_button_login {
      background-color: #0FD19C; // Green color for Login SSO button
      color: #fff;
      padding: 15px;
      
      // border radius no color
      border: none;
      border-radius: 15px;
      cursor: pointer;

      &:hover {
        background-color: #45a049; // Darker green on hover
      }
    }

    .or-text {
      margin: 10px 0;
      color: #555;
    }

    .login_form_button_login-microsoft {
      background-color: #ccc; // Gray color for Login Microsoft button
      color: #fff;
      padding: 15px;
      border: none;
      cursor: pointer;
       border: none;
      border-radius: 15px;

      &:hover {
        background-color: #bbb; // Darker gray on hover
      }
    }
  }

  .login_form_footer {
    margin-top: 5px;

    .login_form_footer_text {
      color: #2F98D5;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
 .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  z-index: 5;
}


.wrapper_footer{
    margin-left: 148px;
    margin-right: 150px;

}

.footer_text {
  margin-left: 50px;
  margin-top : 20px;
  p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

.wrapper_item{
  justify-content: space-between;
  display: flex;
}

.satu_logo{
  width: 142px;
  height: 70px;
}

.otak_logo{
  width: 81px;
  height: 58px;
}